@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply leading-6 bg-gray-200 font-body text-paragraph;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black font-body;
  }
  .section {
    @apply py-12 lg:py-32;
  }
  .section-title {
    @apply mb-5 text-3xl font-medium lg:text-4xl lg:font-extrabold;
  }
  .subtitle {
    @apply text-base text-paragraph mb-16 lg:mb-24 max-w-[520px];
  }
  .btn {
    @apply flex items-center justify-center py-4 font-medium text-white transition-all rounded-sm px-7 hover:bg-accent-hover;
  }
  .btn-lg {
    @apply h-[54px];
  }
  .btn-md {
    @apply h-[48px];
  }
  .input {
    @apply bg-paragraph text-secondary h-[45px] outline-none pl-6 w-full font-body text-[15px] rounded-sm focus:outline focus:outline-2 focus:outline-secondary;
  }
  .textarea {
    @apply bg-paragraph text-primary resize-none w-full outline-none p-6 rounded-sm h-[150px] focus:outline focus:outline-2 focus:outline-secondary;
  }
  .active {
    @apply font-medium text-accent-brown;
  }
}

/* #home {
  background-color: #3d5a80;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%233D5A80' width='11' height='11'/%3E%3Crect fill='%233d597f' x='10' width='11' height='11'/%3E%3Crect fill='%233c597e' y='10' width='11' height='11'/%3E%3Crect fill='%233c587d' x='20' width='11' height='11'/%3E%3Crect fill='%233c577c' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%233b567a' y='20' width='11' height='11'/%3E%3Crect fill='%233b5679' x='30' width='11' height='11'/%3E%3Crect fill='%233b5578' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%233b5477' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%233a5476' y='30' width='11' height='11'/%3E%3Crect fill='%233a5375' x='40' width='11' height='11'/%3E%3Crect fill='%233a5274' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23395273' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23395172' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23395070' y='40' width='11' height='11'/%3E%3Crect fill='%23384f6f' x='50' width='11' height='11'/%3E%3Crect fill='%23384f6e' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23384e6d' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23374d6c' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23374d6b' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23374c6a' y='50' width='11' height='11'/%3E%3Crect fill='%23364b69' x='60' width='11' height='11'/%3E%3Crect fill='%23364b68' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23364a67' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23354966' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23354964' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23354863' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23344762' x='70' width='11' height='11'/%3E%3Crect fill='%23344661' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23344660' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2333455f' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2333445e' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2333445d' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2332435c' x='80' width='11' height='11'/%3E%3Crect fill='%2332425b' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2332425a' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23314159' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23314058' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23314057' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23303f56' x='90' width='11' height='11'/%3E%3Crect fill='%23303e54' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23303e53' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%232f3d52' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%232f3c51' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%232f3c50' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%232e3b4f' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%232e3a4e' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%232d3a4d' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%232d394c' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%232d384b' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%232c384a' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%232c3749' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%232c3748' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%232b3647' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%232b3546' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%232a3545' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%232a3444' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%232a3343' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23293342' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23293241' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-attachment: fixed;
} */

/* #portfolio {
  background-color: #293241;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23293241' width='11' height='11'/%3E%3Crect fill='%23293342' x='10' width='11' height='11'/%3E%3Crect fill='%232a3343' y='10' width='11' height='11'/%3E%3Crect fill='%232a3444' x='20' width='11' height='11'/%3E%3Crect fill='%232a3545' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%232b3546' y='20' width='11' height='11'/%3E%3Crect fill='%232b3647' x='30' width='11' height='11'/%3E%3Crect fill='%232c3748' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%232c3749' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%232c384a' y='30' width='11' height='11'/%3E%3Crect fill='%232d384b' x='40' width='11' height='11'/%3E%3Crect fill='%232d394c' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%232d3a4d' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%232e3a4e' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%232e3b4f' y='40' width='11' height='11'/%3E%3Crect fill='%232f3c50' x='50' width='11' height='11'/%3E%3Crect fill='%232f3c51' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%232f3d52' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23303e53' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23303e54' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23303f56' y='50' width='11' height='11'/%3E%3Crect fill='%23314057' x='60' width='11' height='11'/%3E%3Crect fill='%23314058' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23314159' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%2332425a' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2332425b' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2332435c' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2333445d' x='70' width='11' height='11'/%3E%3Crect fill='%2333445e' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2333455f' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23344660' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23344661' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23344762' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23354863' x='80' width='11' height='11'/%3E%3Crect fill='%23354964' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23354966' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23364a67' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23364b68' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23364b69' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23374c6a' x='90' width='11' height='11'/%3E%3Crect fill='%23374d6b' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23374d6c' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23384e6d' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23384f6e' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23384f6f' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23395070' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23395172' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23395273' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%233a5274' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%233a5375' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%233a5476' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%233b5477' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%233b5578' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%233b5679' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%233b567a' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%233c577c' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%233c587d' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%233c597e' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%233d597f' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%233D5A80' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
} */

::-webkit-scrollbar {
  width: 0;
}

/* Skills */
.skill {
  margin-left: 12rem;
  position: center;
  /* background: #000; */
  /* margin-top: 5rem; */
  /* margin-bottom: 20rem; */
  height: 100vh;
}

.item img {
  height: 9rem;
  object-fit: contain;
}

.item h5 {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #fff;
}

.skill-box {
  background: #888;
  /* border: 1px solid red; */
  border-radius: 4rem;
  text-align: center;
  padding: 4rem 3rem;
}

.skill h2 {
  font-size: 3rem;
  font-weight: 700;
}

.skill p {
  /* color: #b8b8b8; */
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 1rem 0 5rem 0;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 1rem auto;
}

@media screen and (max-width: 500px) {
  .skill {
    padding: 0;
    margin-bottom: 5rem;
    margin-top: 10rem;
  }

  .skill-box {
    text-align: center;
    margin: auto;
  }

  .skill h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .skill p {
    font-size: 0.8rem;
  }

  .item h5 {
    font-size: 1rem;
  }

  .item img {
    width: 40%;
  }
}
